.topbar {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #937dc2;
  color: #e8a0bf;
}

.search {
  margin-top: 0.3rem;
  background-color: #fefbf6;
  border: none;
  padding: 0.6rem;
  border-radius: 0.3rem;
}

.search:focus {
  outline: none;
  box-shadow: 0 0 7px 1px #c689c6;
  color: #e8a0bf;
}

.container {
  padding: 0.5rem;
}

.card {
  padding: 0.75rem;
  background-color: rgb(248 250 252);
  margin: 1rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100px;
  height: 100px;
  align-self: center;
  border-radius: 5rem;
  margin-bottom: 0.3rem;
}

.list {
  list-style-type: none;
}

.card-footer {
  margin-top: 1rem;
}

.card-link {
  color: #ffffff;
  text-decoration: none;
  background-color: #b8b8b8;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 5rem;
  margin: 0 0.3rem;
  max-width: fit-content;
}

.card-link:hover {
  opacity: 0.9;
}

.card-link:focus {
  outline: none;
  box-shadow: 0 0 7px 1px #ffa9c3;
}

.card-link:active {
  background-color: #969696;
}

.skip {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #b270a2;
  color: white;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.skip:focus {
  opacity: 100;
  outline: none;
  box-shadow: 0 0 7px 1px #ffa9c3;
}

.btn {
  border: 0;
  cursor: pointer;
  color: #ffffff;
  background-color: #b8b8b8;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 5rem;
  margin: 0.5rem 0;
  max-width: fit-content;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 7px 1px #ffa9c3;
}

.btn:active {
  background-color: #969696;
}

.invisible {
  animation: fadeout 0.5s forwards;
}

.visible {
  animation: fadein 0.5s forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 0;
    visibility: hidden;
    margin:0;
    width:0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visbility: visible;
    height:fit-content;
    width: fit-content;
  }
}

.card-sm {
  padding: 0.3rem;
  background-color: rgb(255, 255, 255);
  margin: 0.5rem;
  border-radius: 0.3rem;
}

.alert {
  padding: 0.75rem;
  margin: 1rem;
  background-color: #bca7e9;
  color: #7f61c5;
  opacity: 80;
  width: fit-content;
  border-radius: 0.75rem;
  font-size: 1.2rem;
  font-weight: bolder;
}

@media only screen and (min-width: 640px) {
  .search {
    margin-top: 0;
  }
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}
